<label>
<input id="rememberMe" type="checkbox">
Remember me
</label>

body {
font-family: Arial, sans-serif;
background:#111;
color:white;
margin:0;
}


header {
text-align:center;
padding:20px;
background:#064663;
}


nav {
display:flex;
justify-content:space-around;
padding:15px;
background:#222;
}


button {
border:none;
padding:10px;
border-radius:20px;
cursor:pointer;
}


.post-box,
.post {
background:#222;
margin:20px auto;
padding:20px;
border-radius:15px;
max-width:600px;
}


input,
textarea {
width:100%;
margin:8px 0;
padding:12px;
border-radius:10px;
border:none;
}


textarea {
height:80px;
}


.post img {
width:100%;
border-radius:15px;
}


.post-btn {
background:#00a86b;
color:white;
width:100%;
}
